{% extends 'layout.html.twig' %}

{% block active_login_register%}active{% endblock %}

{% block content %}
    <div class="row center-block">
        {# block de connection #}
        <div class="col-sm-5">
            <div class="well">
                {{ render(controller('UserBundle:Security:login')) }}
            </div>
        </div>
        {# block pour s'enregistrer #}
        <div class="col-sm-5">
            <div class="well">
                {{ render(controller('UserBundle:Register:register', {'request':app.request})) }}
            </div>
        </div>
    </div>
{% endblock %}
