{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('DiaryBundle:Diary:formFilter')) }}
    <div style="text-align: center">
        <h2>{{ 'diary.liste'|trans() }}</h2>
    </div>
    {% if is_granted('ROLE_EDITOR') %}
        <a class="btn btn-primary" href="{{ path('diary_new') }}"><i class="glyphicon glyphicon-plus"></i></a>
    {% endif %}

    {% include 'DiaryBundle:Partials:diary.html.twig' with {'diary' : diary}  %}

    <div style="text-align: center">
        {% include 'CoreBundle:partials:pagination.html.twig' with {'pagination' : pagination} %}
    </div>
{% endblock %}