{% block subject %}Password Request{% endblock %}

{% block body %}
Bonjour {{ username }},

Gestion d'un nouveau mot de passe . Cliquer <a href="{{ request_link }}">ici</a> pour reset le mot de passe.
{% endblock %}

