{% extends 'layout.html.twig' %}

{% block content %}

    {{ render(controller('TicketBundle:Ticket:formFilter')) }}

    <div style="text-align: center">
        <h2>{{ 'ticket.list'|trans() }}</h2>
    </div>

    <br>

    {% include 'TicketBundle:Partials:Ticket/ticket.html.twig' with {'ticket' : ticket}  %}

    <div style="text-align: center">
        {% include 'CoreBundle:partials:pagination.html.twig' with {'pagination' : pagination} %}
    </div>
{% endblock %}