{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('PartnershipBundle:Partnership:formFilter')) }}
    <div style="text-align: center">
        <h2>{{ 'partnership.list'|trans() }}</h2>
    </div>
    {% if is_granted('ROLE_EDITOR') %}
        <a class="btn btn-primary" href="{{ path('partnership_new') }}"><i class="glyphicon glyphicon-plus"></i></a>
    {% endif %}

    {% include 'PartnershipBundle:Partials:partnership.html.twig' with {'partnership' : partnership}  %}

    <div style="text-align: center">
        {% include 'CoreBundle:partials:pagination.html.twig' with {'pagination' : pagination} %}
    </div>
{% endblock %}